/*============= Color Definition =================*/

$red-main:#A71D3E;
$gray-main:#333232;
$gray-text:#3C3B3B;
$gray-heading:#484646;
$gray-light:#9A9898;
$green:#4AB84A;

$cyan: #1CBED5;
$cyan-dark: #2F6395;
$blue: #346094;

$gray-xlight: #EEEDEC;

/*============= Fonts Definition =================*/

$deffont: 'TitilliumMaps29L', sans-serif;
$titlefont: 'TitilliumTitle', sans-serif;

$panefresco: $deffont;
$sans-serif: $titlefont; 

/****************** Breakpoints Definition ***********/

$s0:320px;
$s1:480px;
$s2:768px;
$s3:1024px;

$s4:1280px;
$s5:1600px;

$maximum:960px;









