@font-face {
  font-family: 'TitilliumTitle';
  src: url('../fonts/TitilliumTitle20.eot');
  src: url('../fonts/TitilliumTitle20.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TitilliumTitle20.woff2') format('woff2'),
       url('../fonts/TitilliumTitle20.woff') format('woff'),
       url('../fonts/TitilliumTitle20.ttf') format('truetype'),
       url('../fonts/TitilliumTitle20.svg#TitilliumTitle20') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumMaps29L';
  src: url('../fonts/TitilliumMaps29L-1wt.eot');
  src: url('../fonts/TitilliumMaps29L-1wt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TitilliumMaps29L-1wt.woff2') format('woff2'),
       url('../fonts/TitilliumMaps29L-1wt.woff') format('woff'),
       url('../fonts/TitilliumMaps29L-1wt.ttf') format('truetype'),
       url('../fonts/TitilliumMaps29L-1wt.svg#TitilliumMaps29L-1wt') format('svg');
  font-weight: 100;
  font-style: normal;
}



@font-face {
  font-family: 'TitilliumMaps29L';
  src: url('../fonts/TitilliumMaps29L-400wt.eot');
  src: url('../fonts/TitilliumMaps29L-400wt.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TitilliumMaps29L-400wt.woff2') format('woff2'),
       url('../fonts/TitilliumMaps29L-400wt.woff') format('woff'),
       url('../fonts/TitilliumMaps29L-400wt.ttf') format('truetype'),
       url('../fonts/TitilliumMaps29L-400wt.svg#TitilliumMaps29L-400wt') format('svg');
  font-weight: 400;
  font-style: normal;
}





