.staff {
padding:4em 0 5em;
background-color: #fff;
border-top:1px solid $gray-xlight;
color:#000;


	a {
		color:#000;
		border-bottom:3px solid transparent;
		&:hover, &:focus {
			color:$cyan;
			text-decoration: none;
			border-bottom-color:currentColor;

		}
	}

}

.garanti {
	@include clearfix();
	position: relative;

	text-align: center;

	max-width: 28em;
	margin:0 auto 2em auto;
	font-weight: 800;
	@include bp($s2){
		text-align: left;
		margin:2em auto 3em;
		//max-width: none;
	}
	@include bp($s3){
		width:40%;
		float:left;
		margin:1.5em 0 0;
		//max-width: none;

	}
}

a.garanti__logo {
	max-width: 15em;
	display: block;
	margin: 0 auto;
	border-bottom: none;
	@include bp($s2){
		
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		//width:14em;
		max-width: none;

		img {
			position: absolute;
			left:0;
			top:0;
			max-width: none;
			width:auto;
			height:100%
		}

	
	}
	@include bp($s3){
		width:30%;
	}
}

.garanti__addr {
	margin:0 0;
	padding:1em 1em;
	font-size: 1.125em;
	@include bp($s2){
		width:15em;
		height: 6em;
		padding:1em 0 1em 1em;
		margin-left: 38%;
	}
	@include bp($s3){
		//padding-top: .25em;
		//width:70%;
	}
}

.staff__members {
	@include clearfix();
	font-weight: 800;
	max-width: 50em;
	margin:0 auto;
	@include bp($s3){
		width:60%;
		float:right;
	}

}


.member {
	@include clearfix();
	text-align: center;
	width:32%;
	float:left;
	margin:1em 1%;
	&:last-child {
		margin-right: 0;	
	}
	&:first-child {
		margin-left: 0;	
	}

	@include bp($s1) {
		padding:0 1%;
	}

	@include bp($s2) {
		text-align: right;
		padding:0;

	}

	@include bp($s3) {
		margin:0 .5%;
	}
}

.member__portre {
	
	@include bp($s2){
		float:right;
		width:7.5em;
		//max-width: 50%;
		padding-left: .5em;
	}
}

.member__name {
	@include bp($s2){
		float:left;
		width:calc(100% - 7.5em);
	}
	@include bp($s4){
		margin-top: 6em;
	}
}
.member__phone {
	//font-weight: 400;
	@include bp($s2){
		float:left;
		width:calc(100% - 7.5em);
	}
}


.content-info {
	@include clearfix();
	background-color: $cyan;
	color:#fff;
	text-align: center;
	font-family: $sans-serif;
	padding-top: 1em;
	padding: 1em 0 .5em;
	font-weight: 400;

}
	.footer--logo {
		margin:1.5em auto .5em;
		display: inline-block;
		width:10em;
		@include bp($s2){
			width: 10%;
			float:left;
			margin-top: .25em;
		}
		@include bp($s3){
			margin-top: .5em;
		}
	}
	.footer--tothetop {
		display: inline-block;
		text-transform: uppercase;
		font-weight: bold;
		color:$gray-xlight;
		font-size: .875em;
		@include bp($s2){
			width:10%;
			float:right;
			margin-top: -.75em;
		}
		@include bp($s3){
			margin-top: -.25em;
		}
		&:hover, &:focus {
			color:#fff;
			text-decoration: none;
			i{
				border-color: #fff;
			}
		}
		i{
			text-transform: none;
			font-weight: normal;
			border:1px solid #fff;
			width:2em;
			height: 2em;
			line-height: 1.875em;
			margin-bottom: 0.5em;
			text-align: center;
			padding-left: 1px;
		}
	}
	.footer--copy{
		display: block;
		//font-size: 0.875em;
		@include bp($s2){
			width:80%;
			float:left;
			text-align: center;
			padding:0 1em 0 1em;
			margin:0;
			margin-top: -.5em;
		}
		@include bp($s3){
			margin-top: 0;
		}
		@include bp($s4){
			margin-top: .25em;
		}
		a {
			color:$gray-xlight;
			&:hover, &:focus {
				color:#fff;
				text-decoration: none;

			}

		}
	}