@mixin bp($brkp) {
  @media only screen and (min-width: $brkp) { @content; }
}

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
// --------------------------------------------------

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

@mixin hide-text() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

